@media only screen and (max-width: 791px) and (min-width: 375px) {
  .container {
    padding: 0 40px;
  }
  main {
    .page1 {
      max-width: 690px;
      height: 500px;
      background-position: center;
      padding-left: 58px;
      display: flex;
      gap: 25px;
      h1 {
        height: 97px;
        width: 329px;
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 15px;
      }
      p {
        height: 75px;
        width: 398px;
        font-size: 15px;
        line-height: 25px;
      }
    }
    .cofe__types {
      height: 927px;
      margin-top: 200px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      & > img {
        position: absolute;
        top: -135px;
        max-height: 196px;
      }
      .types {
position: relative;
        width: 55%;
        height: 370px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          position: absolute;
          top: -10px;
          left: -120%px;
          transform: translateX(-120%);
          z-index: 2;
          width: 255px;
          height: 193pxpx;
          margin-right: 50px;
        }
      }
    }
    .choosing__part {
      position: relative;
      height: 600px;
      h3 {
        font-size: 32px;
        margin-top: 50px;
      }
      p {
        width: 72%;
        height: 77px;
      }
      .choosing__cards {
        position: absolute;
        top: 270px;
        width: 85%;
        display: grid;
        grid-template-columns: 1fr;
        .choosing__card {
          position: relative;
          height: 180px;
          background: #0e8784;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
          gap: 25px;
          img {
            position: absolute;
            left: 5%;
            top: 50%;
            transform: translateY(-50%);
          }
          p {
            width: 65%;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            text-align: left;
            color: #fefcf7;
          }
        }
      }
    }
    
    .process__part {
      .process__card {
        h4 {
          width: 85%;
          font-size: 28px;
          line-height: 32px;
        }
        p {
          margin: 0;
          width: 92%;
        }
      }
    }
  }
  footer {
    margin-top: 55px;
    height: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    .footer__social {
      margin-top: 35px;
    }
  }
}
